---
title:Brightcove SSAI 文檔
parent: null 
---

<style>
  小時1 { margin-bottom: 0; } td { padding: 0; }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1>{{ site.title }}</h1>
    <table width="100%" border="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="5995509672001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<!--<td width="35%"><img height="61" src="https://solutions.brightcove.com/bcls/prod/ssai-logo.png" /></td>-->
			<td width="70%">

			<p>Brightcove 伺服器端廣告插入 (SSAI) 之前稱為「一次」，會動態地將目標廣告結合在伺服器上的內容中，並以單一連續串流形式提供這兩種廣告。</p>
      <p>
        您可以防止廣告封鎖程式偵測您的廣告、透過消除緩衝功能，為受眾提供更佳的觀看體驗，並保留您的收益。
      </p>
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">


      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <!-- <p style="font-size:small;"><a href="{{ section.url }}">View all...</a></p> -->
      </div>
    </section>
    {% endfor %}
  </section>
</article>